{% extends 'layout.html' %}

{% block body %} 
<h3>Hakkımızda</h3>
<hr> 
Herkese merhaba, ben Mert Koç. Erzurum Teknik Üniversitesinde okuyorum. Flask ile backend geliştirme çalışıyorum.Herkese merhaba, ben Mert Koç. Erzurum Teknik Üniversitesinde okuyorum. Flask ile backend geliştirme çalışıyorum.Herkese merhaba, ben Mert Koç. Erzurum Teknik Üniversitesinde okuyorum. Flask ile backend geliştirme çalışıyorum.Herkese merhaba, ben Mert Koç. Erzurum Teknik Üniversitesinde okuyorum. Flask ile backend geliştirme çalışıyorum.Herkese merhaba, ben Mert Koç. Erzurum Teknik Üniversitesinde okuyorum. Flask ile backend geliştirme çalışıyorum.Herkese merhaba, ben Mert Koç. Erzurum Teknik Üniversitesinde okuyorum. Flask ile backend geliştirme çalışıyorum.
<hr>
 
{% endblock body %}
